@import '../_var'

.BecomeAnHost-banner
    position: relative
    padding-top: calc( 50px + var(--headerheight)) 
    padding-bottom: 50px
    position: relative
    background-image: url("/assets/images/becomeanhost/become-an-host-banner.jpg")
    background-size: cover      
    background-position: center 
    background-repeat: no-repeat 
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(180deg, rgba(58, 58, 58, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%)
    .bg-background
        .container
            @include media(540)
                padding: 0
            .bg-wrapper
                display: flex
                justify-content: space-between
                align-items: center
                position: relative
                z-index: 1
                .col
                    h1
                        max-width: 510px
                        margin-bottom: 20px
                        color: $white
                        font-size: 68px
                        
                        @include media(1024)
                            max-width: 100%
                            line-height: 1.2
                            font-size: 40px
                            margin-left: 0
                            text-align: center
                        @include media(540)
                            max-width: 100%
                            font-size: 25px
                            line-height: 1.1
                            text-align: center
                            padding: 0 20px
                            margin-bottom: 20px
                    p
                        color: white
                        margin-bottom: 30px
                        max-width: 512px
                        font-size: 21px
                        font-weight: 500
                        line-height: 1.4
                .col:last-child
                    width: 600px
                    height: fit-content
                    background: $white
                    padding: 30px 20px
                    border-radius: 15px
                    overflow: hidden
                    h3
                        font-size: 28px
                        font-weight: 600
                        color: $black
                        margin-bottom: 20px
                        font-family: Poppins
                    .form-wrapper
                        display: grid
                        grid-template-columns: repeat(2,1fr)
                        gap: 20px 20px
                        .form-group
                            &.full
                                grid-column: span 2
                            .file-wrapper
                                border: 1px dashed #D6D3D1
                                padding: 30px 16px
                                border-radius: 10px
                                position: relative
                                cursor: pointer
                                figure
                                    width: 40px
                                    height: 40px
                                    line-height: 0
                                    margin: 0 auto 10px
                                    img
                                        height: 100%
                                        width: 100%
                                        object-fit: contain
                                p
                                    font-size: 16px
                                    color: #A8A29E
                                    font-family: Poppins
                                    text-align: center
                                    margin: 0
                                .file-input
                                    position: absolute
                                    width: 100%
                                    height: 100%
                                    top: 0
                                    left: 0
                                    opacity: 0
                                    cursor: pointer

                            label
                                font-family: Poppins
                                color: #57534E
                                font-weight: 800
                                line-height: 1
                                margin-bottom: 7px
                                display: inline-block
                            input 
                                border: 1px solid #D6D3D1
                                padding: 7px 20px 7px 10px 
                                font-size: 14px
                                border-radius: 7px
                                font-family: Poppins
                                display: inline-block
                                width: 100%
                                max-width: 100%
                                &:focus
                                    border: 1px solid #F3541C
                                    outline: 4px solid #FEE7D6
                    .btn
                        width: 100%
                        border-radius: 8px
                        margin-top: 30px
                        padding: 10px 0
                        display: inline-block
                        transition: 0.5s ease
                        font-family: Poppins
                        font-weight: 600
                        &:hover
                            background: #f99f20

    &.about-banner
        height: 73vh


.BecomeAnHost-secA
    padding: 50px 0 
    .heading
        text-align: left
        margin-bottom: 30px
        h2
            margin-bottom: 5px
    .swiper-nav
        top: -14%


.BecomeAnHost-secB
    padding: 50px 0 
    .heading
        text-align: left
        margin-bottom: 30px
        h2
            margin-bottom: 5px
    .swiper-nav
        top: -14%

.BecomeAnHost-secC
    padding: 50px 0 
    h2
        text-align: center
        margin-bottom: 30px
    .grid-box
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
        .col
            box-shadow: 0px 0px 69.21px 28px #0000000D
            padding: 20px 30px 50px 30px
            border-radius: 10px
            &:nth-child(3)
                grid-column: span 2

            h4
                color: $secondary
                font-size: 34px
                margin-bottom: 10px
                line-height: 1
            h3
                font-size: 18px
                color: $secondary
                margin-bottom: 10px
            p
                font-size: 14px
                color: $text
            ul
                padding-left: 20px
                li
                    list-style-type: decimal
                    margin-bottom: 5px



.BecomeAnHost-secD
    padding: 50px 0 
    h2
        text-align: center  
        font-weight: 700
        margin-bottom: 40px
    .accordian-wrapper
        background: #FFFBF6
        margin-bottom: 20px
        border-radius: 20px
        cursor: pointer
        &.open
            .title
                padding: 40px 20px 0px 20px
                .ico
                    scale: 0
        .title
            padding: 30px 20px
            position: relative
            h4
                font-size: 24px
            .ico
                width: 33px
                height: 33px
                line-height: 0
                position: absolute
                top: 29px
                right: 30px
                transition: 0.5s ease
                img
                    height: 100%
                    width: 100%
                    object-fit: contain
        p
            color: #626060
            padding: 10px 20px 40px 20px