@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.BecomeAnHost-banner {
  position: relative;
  padding-top: calc(50px + var(--headerheight));
  padding-bottom: 50px;
  position: relative;
  background-image: url("/assets/images/becomeanhost/become-an-host-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.BecomeAnHost-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(58, 58, 58, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
}
@media only screen and (max-width: 540px) {
  .BecomeAnHost-banner .bg-background .container {
    padding: 0;
  }
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col h1 {
  max-width: 510px;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 68px;
}
@media only screen and (max-width: 1024px) {
  .BecomeAnHost-banner .bg-background .container .bg-wrapper .col h1 {
    max-width: 100%;
    line-height: 1.2;
    font-size: 40px;
    margin-left: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .BecomeAnHost-banner .bg-background .container .bg-wrapper .col h1 {
    max-width: 100%;
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col p {
  color: white;
  margin-bottom: 30px;
  max-width: 512px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child {
  width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--white);
  padding: 30px 20px;
  border-radius: 15px;
  overflow: hidden;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child h3 {
  font-size: 28px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 20px;
  font-family: Poppins;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group.full {
  grid-column: span 2;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group .file-wrapper {
  border: 1px dashed #D6D3D1;
  padding: 30px 16px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group .file-wrapper figure {
  width: 40px;
  height: 40px;
  line-height: 0;
  margin: 0 auto 10px;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group .file-wrapper figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group .file-wrapper p {
  font-size: 16px;
  color: #A8A29E;
  font-family: Poppins;
  text-align: center;
  margin: 0;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group .file-wrapper .file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group label {
  font-family: Poppins;
  color: #57534E;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 7px;
  display: inline-block;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group input {
  border: 1px solid #D6D3D1;
  padding: 7px 20px 7px 10px;
  font-size: 14px;
  border-radius: 7px;
  font-family: Poppins;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .form-wrapper .form-group input:focus {
  border: 1px solid #F3541C;
  outline: 4px solid #FEE7D6;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .btn {
  width: 100%;
  border-radius: 8px;
  margin-top: 30px;
  padding: 10px 0;
  display: inline-block;
  transition: 0.5s ease;
  font-family: Poppins;
  font-weight: 600;
}
.BecomeAnHost-banner .bg-background .container .bg-wrapper .col:last-child .btn:hover {
  background: #f99f20;
}
.BecomeAnHost-banner.about-banner {
  height: 73vh;
}

.BecomeAnHost-secA {
  padding: 50px 0;
}
.BecomeAnHost-secA .heading {
  text-align: left;
  margin-bottom: 30px;
}
.BecomeAnHost-secA .heading h2 {
  margin-bottom: 5px;
}
.BecomeAnHost-secA .swiper-nav {
  top: -14%;
}

.BecomeAnHost-secB {
  padding: 50px 0;
}
.BecomeAnHost-secB .heading {
  text-align: left;
  margin-bottom: 30px;
}
.BecomeAnHost-secB .heading h2 {
  margin-bottom: 5px;
}
.BecomeAnHost-secB .swiper-nav {
  top: -14%;
}

.BecomeAnHost-secC {
  padding: 50px 0;
}
.BecomeAnHost-secC h2 {
  text-align: center;
  margin-bottom: 30px;
}
.BecomeAnHost-secC .grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.BecomeAnHost-secC .grid-box .col {
  box-shadow: 0px 0px 69.21px 28px rgba(0, 0, 0, 0.0509803922);
  padding: 20px 30px 50px 30px;
  border-radius: 10px;
}
.BecomeAnHost-secC .grid-box .col:nth-child(3) {
  grid-column: span 2;
}
.BecomeAnHost-secC .grid-box .col h4 {
  color: var(--secondary);
  font-size: 34px;
  margin-bottom: 10px;
  line-height: 1;
}
.BecomeAnHost-secC .grid-box .col h3 {
  font-size: 18px;
  color: var(--secondary);
  margin-bottom: 10px;
}
.BecomeAnHost-secC .grid-box .col p {
  font-size: 14px;
  color: var(--text);
}
.BecomeAnHost-secC .grid-box .col ul {
  padding-left: 20px;
}
.BecomeAnHost-secC .grid-box .col ul li {
  list-style-type: decimal;
  margin-bottom: 5px;
}

.BecomeAnHost-secD {
  padding: 50px 0;
}
.BecomeAnHost-secD h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
.BecomeAnHost-secD .accordian-wrapper {
  background: #FFFBF6;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.BecomeAnHost-secD .accordian-wrapper.open .title {
  padding: 40px 20px 0px 20px;
}
.BecomeAnHost-secD .accordian-wrapper.open .title .ico {
  scale: 0;
}
.BecomeAnHost-secD .accordian-wrapper .title {
  padding: 30px 20px;
  position: relative;
}
.BecomeAnHost-secD .accordian-wrapper .title h4 {
  font-size: 24px;
}
.BecomeAnHost-secD .accordian-wrapper .title .ico {
  width: 33px;
  height: 33px;
  line-height: 0;
  position: absolute;
  top: 29px;
  right: 30px;
  transition: 0.5s ease;
}
.BecomeAnHost-secD .accordian-wrapper .title .ico img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.BecomeAnHost-secD .accordian-wrapper p {
  color: #626060;
  padding: 10px 20px 40px 20px;
}/*# sourceMappingURL=BecomeAnHost.css.map */