@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.booking-detail-secA {
  margin-top: 70px;
  padding: 0 0 40px 0;
}
.booking-detail-secA .breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.booking-detail-secA .breadcrumb li a {
  color: #8B94A4;
}
.booking-detail-secA .breadcrumb li a.active {
  color: var(--black);
}
.booking-detail-secA .breadcrumb span {
  line-height: 1;
}
.booking-detail-secA .heading {
  margin-bottom: 15px;
}
.booking-detail-secA .heading h2 {
  font-size: 28px;
  color: #454C58;
}
.booking-detail-secA .heading p {
  color: #8B94A4;
}
.booking-detail-secA .flex-box {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  position: relative;
}
.booking-detail-secA .flex-box .col:first-child {
  flex: 1;
}
.booking-detail-secA .flex-box .col:first-child .group {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1.2px solid #DDDFE3;
}
.booking-detail-secA .flex-box .col:first-child .group h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.booking-detail-secA .flex-box .col:first-child .group .inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.booking-detail-secA .flex-box .col:first-child .group .inner-flex:last-child {
  margin-bottom: 0;
}
.booking-detail-secA .flex-box .col:first-child .group .inner-flex h5 {
  font-weight: 500;
  font-size: 18px;
  color: #454C58;
}
.booking-detail-secA .flex-box .col:first-child .group .inner-flex p {
  color: #656F81;
}
.booking-detail-secA .flex-box .col:first-child .group .inner-flex a {
  color: #2B3037;
  text-decoration: underline;
}
.booking-detail-secA .flex-box .col:first-child .group .gust-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.booking-detail-secA .flex-box .col:first-child .group .gust-flex h4 {
  color: #454C58;
}
.booking-detail-secA .flex-box .col:first-child .group .gust-flex .rig {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}
.booking-detail-secA .flex-box .col:first-child .group .gust-flex .rig a {
  font-size: 18px;
  font-weight: 500;
  color: #2B3037;
  display: flex;
  align-items: center;
  gap: 5px;
}
.booking-detail-secA .flex-box .col:first-child .group .gust-flex .rig a span {
  width: 20px;
  height: 20px;
  line-height: 0;
}
.booking-detail-secA .flex-box .col:first-child .group .gust-flex .rig a span img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group.full {
  grid-column: span 2;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group .file-wrapper {
  border: 1px dashed #D6D3D1;
  padding: 30px 16px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group .file-wrapper figure {
  width: 40px;
  height: 40px;
  line-height: 0;
  margin: 0 auto 10px;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group .file-wrapper figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group .file-wrapper p {
  font-size: 16px;
  color: #A8A29E;
  font-family: Poppins;
  text-align: center;
  margin: 0;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group .file-wrapper .file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group label {
  font-family: Poppins;
  color: #57534E;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 7px;
  display: inline-block;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group input {
  border: 1px solid #D6D3D1;
  padding: 7px 20px 7px 10px;
  font-size: 14px;
  border-radius: 7px;
  font-family: Poppins;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.booking-detail-secA .flex-box .col:first-child .group .form-wrapper .form-group input:focus {
  border: 1px solid #F3541C;
  outline: 4px solid #FEE7D6;
}
.booking-detail-secA .flex-box .col:first-child .bottom-sec-group .group {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border: none;
}
.booking-detail-secA .flex-box .col:first-child .bottom-sec-group .group h5 {
  font-weight: 500;
  font-size: 20px;
  color: #454C58;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 5px;
}
.booking-detail-secA .flex-box .col:first-child .bottom-sec-group .group p {
  color: #656F81;
}
.booking-detail-secA .flex-box .col:first-child .bottom-sec-group .group a {
  color: var(--secondary);
  margin-top: 10px;
}
.booking-detail-secA .flex-box .col:last-child {
  width: 405px;
  height: -moz-fit-content;
  height: fit-content;
  border: 1.2px solid #B5BAC2;
  border-radius: 14.4px;
  box-shadow: 0px 2.4px 24px 0px rgba(0, 0, 0, 0.1215686275);
  position: sticky;
  top: calc(0px + var(--headerheight));
  padding: 20px;
}
.booking-detail-secA .flex-box .col:last-child .hotel-info {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
}
.booking-detail-secA .flex-box .col:last-child .hotel-info img {
  width: 92px;
  height: 92px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.booking-detail-secA .flex-box .col:last-child .hotel-content {
  flex: 1;
}
.booking-detail-secA .flex-box .col:last-child .hotel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.booking-detail-secA .flex-box .col:last-child .hotel-title h3 {
  font-size: 18px;
  font-weight: 600;
}
.booking-detail-secA .flex-box .col:last-child .hotel-title .stars {
  color: #FDA118;
  font-size: 14px;
  white-space: nowrap;
}
.booking-detail-secA .flex-box .col:last-child .location {
  color: #777;
  margin-top: 6px;
  font-size: 14px;
}
.booking-detail-secA .flex-box .col:last-child .rating {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}
.booking-detail-secA .flex-box .col:last-child .rating .score {
  background: #F1F2F3;
  color: #FDA118;
  padding: 2px 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  font-weight: 600;
}
.booking-detail-secA .flex-box .col:last-child .rating .excellent {
  color: #ff9900;
  font-weight: 600;
  font-size: 14px;
}
.booking-detail-secA .flex-box .col:last-child .rating .reviews {
  color: #888;
  font-size: 13px;
}
.booking-detail-secA .flex-box .col:last-child .booking-details {
  border: 1.2px solid #DDDFE3;
  border-radius: 10px;
  overflow: hidden;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .dates {
  display: flex;
  align-items: center;
  padding: 12px;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .dates .date-box {
  flex: 1;
  align-items: center;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .dates .date-box .label {
  display: flex;
  color: #555;
  font-size: 14px;
  margin-bottom: 8px;
  gap: 10px;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .dates .date-box .label span {
  color: #2B3037;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .dates .date-box h4 {
  font-size: 15px;
  font-weight: 400;
  color: #383E48;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .dates .divider {
  width: 1px;
  height: 48px;
  background: #ddd;
  margin: 0 16px;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .guests {
  border-top: 1px solid #ddd;
  padding: 12px;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .guests h4 {
  font-size: 15px;
  margin-bottom: 6px;
  color: #2B3037;
}
.booking-detail-secA .flex-box .col:last-child .booking-details .guests p {
  color: #2B3037;
  font-size: 14px;
}
.booking-detail-secA .flex-box .col:last-child .price-section {
  margin-top: 20px;
}
.booking-detail-secA .flex-box .col:last-child .price-section h4 {
  margin-bottom: 14px;
  font-size: 16px;
  color: #2B3037;
}
.booking-detail-secA .flex-box .col:last-child .price-section .price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  color: #656F81;
  font-size: 15px;
}
.booking-detail-secA .flex-box .col:last-child .price-section .discount {
  color: #656F81;
  font-weight: 500;
}
.booking-detail-secA .flex-box .col:last-child .price-section .discount span:last-child {
  color: #30EA3C;
  font-weight: 400;
  font-size: 16px;
}
.booking-detail-secA .flex-box .col:last-child .price-section .coupon {
  color: #30EA3C;
  margin-bottom: 12px;
  font-size: 14px;
}
.booking-detail-secA .flex-box .col:last-child .price-section .total-row {
  border-top: 1px solid #ddd;
  padding-top: 14px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.booking-detail-secA .flex-box .col:last-child .price-section .total-row h3 {
  font-size: 18px;
  margin-bottom: 4px;
  color: #2B3037;
}
.booking-detail-secA .flex-box .col:last-child .price-section .total-row small {
  color: #656F81;
  font-size: 10px;
}
.booking-detail-secA .flex-box .col:last-child .price-section .total-row h2 {
  font-size: 22px;
  font-weight: 600;
  color: #2B3037;
}
.booking-detail-secA .flex-box .col:last-child .pay-btn {
  width: 100%;
  background: #FDA118;
  border: none;
  height: 41px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}
.booking-detail-secA .flex-box .col:last-child .pay-btn:hover {
  opacity: 0.9;
}
.booking-detail-secA .flex-box .col:last-child .terms {
  text-align: center;
  color: #656F81;
  font-size: 13px;
  font-weight: 400;
  margin-top: 14px;
  line-height: 1.5;
}
.booking-detail-secA .flex-box .col:last-child .terms a {
  color: #FDA118;
  text-decoration: none;
}

.booking-detail-secB {
  padding: 50px 0 170px;
  overflow: hidden;
}
.booking-detail-secB .heading {
  margin-bottom: 20px;
}
.booking-detail-secB .heading h2 {
  line-height: 1;
}
.booking-detail-secB .swiper-group .swiper-nav button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-detail-secB .swiper-group .swiper {
  overflow: initial !important;
}
.booking-detail-secB .swiper-group .swiper .swiper-wrapper {
  padding: 10px 0;
}
.booking-detail-secB .bottom-btn {
  text-align: center;
  margin: 30px 0 0 0;
  height: -moz-fit-content;
  height: fit-content;
}
.booking-detail-secB .bottom-btn .view-all-btn {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--white);
  padding: 9px 19px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  margin: 20px auto 0;
}
.booking-detail-secB .bottom-btn .view-all-btn:hover {
  background: transparent;
  color: var(--secondary);
}

.booking-detail-secC {
  padding: 0 0 40px 0;
  transform: translateY(-120px);
}
.booking-detail-secC .heading {
  margin-bottom: 15px;
}
.booking-detail-secC .heading h2 {
  font-size: 28px;
  color: #454C58;
}
.booking-detail-secC .heading p {
  color: #8B94A4;
}
.booking-detail-secC .property-table-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 30px;
}
.booking-detail-secC .property-table-card table {
  width: 100%;
  border-collapse: collapse;
}
.booking-detail-secC .property-table-card td {
  padding: 8px 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 15px;
  color: #000000;
}
.booking-detail-secC .property-table-card tr:last-child td {
  border-bottom: none;
}
.booking-detail-secC .property-table-card tr td:nth-child(2) {
  width: 340px;
  font-weight: 600;
  padding: 8px 20px 8px 8px;
}
.booking-detail-secC .property-table-card .icon-cell {
  width: 40px;
  color: #000000;
  padding-right: 0;
}
.booking-detail-secC .property-table-card .icon-cell i {
  font-size: 18px;
  vertical-align: middle;
}
.booking-detail-secC .property-table-card .distance-cell {
  text-align: right;
  color: #000000;
  font-size: 14px;
  white-space: nowrap;
}/*# sourceMappingURL=booking-detail.css.map */