@import '../_var'

.booking-detail-secA
    margin-top:  70px
    padding: 0 0 40px 0
    .breadcrumb
        display: flex
        align-items: center
        gap: 10px
        margin-bottom: 40px
        li
            a
                color: #8B94A4
                &.active
                    color: $black
        span
            line-height: 1
    .heading
        margin-bottom: 15px
        h2
            font-size: 28px
            color: #454C58
        p
            color: #8B94A4

    .flex-box
        display: flex
        justify-content: space-between
        gap: 100px
        position: relative
        .col:first-child
            flex: 1
            .group
                padding-bottom: 40px
                margin-bottom: 40px
                border-bottom: 1.2px solid #DDDFE3
                h4
                    font-size: 20px
                    margin-bottom: 10px
                .inner-flex
                    display: flex
                    justify-content: space-between
                    align-items: baseline
                    margin-bottom: 20px
                    &:last-child
                        margin-bottom: 0
                    h5
                        font-weight: 500
                        font-size: 18px
                        color: #454C58
                    p
                        color: #656F81
                    a
                        color: #2B3037
                        text-decoration: underline                

                .gust-flex
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-bottom: 15px
                    h4
                        color: #454C58
                    .rig
                        display: flex
                        justify-content: right
                        align-items: center
                        gap: 20px
                        a
                            font-size: 18px
                            font-weight: 500
                            color: #2B3037
                            display: flex
                            align-items: center
                            gap: 5px
                            span
                                width: 20px
                                height: 20px
                                line-height: 0
                                img
                                    height: 100%
                                    width: 100%
                                    object-fit: contain
                .form-wrapper
                    display: grid
                    grid-template-columns: repeat(2,1fr)
                    gap: 20px 20px
                    .form-group
                        &.full
                            grid-column: span 2
                        .file-wrapper
                            border: 1px dashed #D6D3D1
                            padding: 30px 16px
                            border-radius: 10px
                            position: relative
                            cursor: pointer
                            figure
                                width: 40px
                                height: 40px
                                line-height: 0
                                margin: 0 auto 10px
                                img
                                    height: 100%
                                    width: 100%
                                    object-fit: contain
                            p
                                font-size: 16px
                                color: #A8A29E
                                font-family: Poppins
                                text-align: center
                                margin: 0
                            .file-input
                                position: absolute
                                width: 100%
                                height: 100%
                                top: 0
                                left: 0
                                opacity: 0
                                cursor: pointer

                        label
                            font-family: Poppins
                            color: #57534E
                            font-weight: 500
                            line-height: 1
                            margin-bottom: 7px
                            display: inline-block
                        input 
                            border: 1px solid #D6D3D1
                            padding: 7px 20px 7px 10px 
                            font-size: 14px
                            border-radius: 7px
                            font-family: Poppins
                            display: inline-block
                            width: 100%
                            max-width: 100%
                            &:focus
                                border: 1px solid #F3541C
                                outline: 4px solid #FEE7D6
            .bottom-sec-group
                .group
                    margin-bottom: 15px
                    padding-bottom: 10px
                    border: none
                    h5
                        font-weight: 500
                        font-size: 20px
                        color: #454C58
                        font-family: Roboto
                        font-weight: 500
                        margin-bottom: 5px
                    p
                        color: #656F81
                    a
                        color: $secondary
                        margin-top: 10px


        .col:last-child
            width: 405px
            height: fit-content
            border: 1.2px solid #B5BAC2
            border-radius: 14.4px
            box-shadow: 0px 2.4px 24px 0px #0000001F
            position: sticky
            top: calc( 0px + var(--headerheight) )
            padding: 20px 

            .hotel-info 
                display: flex 
                gap: 14px 
                margin-bottom: 18px 
                img 
                    width: 92px 
                    height: 92px 
                    border-radius: 10px 
                    object-fit: cover 
            .hotel-content 
                flex: 1 
            .hotel-title 
                display: flex 
                justify-content: space-between 
                align-items: center 
                gap: 10px
                h3 
                    font-size: 18px
                    font-weight: 600
                .stars 
                    color: #FDA118
                    font-size: 14px 
                    white-space: nowrap 
            .location 
                color: #777 
                margin-top: 6px 
                font-size: 14px 
            .rating 
                margin-top: 12px 
                display: flex 
                align-items: center 
                gap: 6px 
                flex-wrap: wrap 
                .score 
                    background: #F1F2F3
                    color: #FDA118
                    padding: 2px 6px 
                    border-top-left-radius: 10px
                    border-bottom-left-radius: 10px
                    border-bottom-right-radius: 10px
                    font-size: 13px 
                    font-weight: 600 
                .excellent 
                    color: #ff9900 
                    font-weight: 600 
                    font-size: 14px 
                .reviews 
                    color: #888 
                    font-size: 13px 
            .booking-details 
                border: 1.2px solid #DDDFE3
                border-radius: 10px 
                overflow: hidden 
                .dates 
                    display: flex 
                    align-items: center 
                    padding: 12px
                    .date-box 
                        flex: 1 
                        align-items: center
                        .label 
                            display: flex
                            color: #555 
                            font-size: 14px 
                            margin-bottom: 8px 
                            gap: 10px
                            span
                                color: #2B3037
                        h4 
                            font-size: 15px 
                            font-weight: 400
                            color: #383E48 
                    .divider 
                        width: 1px 
                        height: 48px 
                        background: #ddd 
                        margin: 0 16px 
                .guests 
                    border-top: 1px solid #ddd 
                    padding: 12px
                    h4 
                        font-size: 15px 
                        margin-bottom: 6px 
                        color: #2B3037
                    p 
                        color: #2B3037
                        font-size: 14px 
            .price-section 
                margin-top: 20px 
                h4 
                    margin-bottom: 14px 
                    font-size: 16px 
                    color: #2B3037
                .price-row 
                    display: flex 
                    justify-content: space-between 
                    margin-bottom: 3px 
                    color: #656F81
                    font-size: 15px 
                .discount 
                    color: #656F81 
                    font-weight: 500 
                    span:last-child
                        color:#30EA3C
                        font-weight: 400
                        font-size: 16px
 
                .coupon 
                    color: #30EA3C
                    margin-bottom: 12px 
                    font-size: 14px 
                .total-row
                    border-top: 1px solid #ddd 
                    padding-top: 14px
                    margin-top: 12px 
                    display: flex 
                    justify-content: space-between 
                    align-items: flex-start 
                    h3 
                        font-size: 18px 
                        margin-bottom: 4px 
                        color: #2B3037
                    small 
                        color: #656F81
                        font-size: 10px 
                    h2 
                        font-size: 22px 
                        font-weight: 600 
                        color: #2B3037
            .pay-btn 
                width: 100% 
                background: #FDA118
                border: none 
                height: 41px
                border-radius: 10px 
                color: #fff 
                font-size: 18px 
                font-weight: 600 
                cursor: pointer 
                margin-top: 20px 
                &:hover 
                    opacity: 0.9 
            .terms 
                text-align: center 
                color: #656F81
                font-size: 13px 
                font-weight: 400
                margin-top: 14px 
                line-height: 1.5 
                a 
                    color: #FDA118
                    text-decoration: none 


.booking-detail-secB
    padding: 50px 0 170px
    overflow: hidden
    .heading
        margin-bottom: 20px
        h2
            line-height: 1
    .swiper-group
        .swiper-nav
            button
                display: flex
                justify-content: center
                align-items: center
        .swiper
            overflow: initial !important
            .swiper-wrapper
                padding: 10px 0
                .custom-select-list
                    // max-height: 120px
    .bottom-btn
        text-align: center
        margin: 30px 0 0 0
        height: fit-content
        .view-all-btn
            background: var(--secondary)
            border: 1px solid var(--secondary)
            color: var(--white)
            padding: 9px 19px
            font-size: 16px
            font-weight: 400
            border-radius: 8px
            margin: 20px auto 0 
            &:hover
                background: transparent
                color: var(--secondary)

.booking-detail-secC
    padding: 0 0 40px 0
    transform: translateY(-120px)
    .heading
        margin-bottom: 15px
        h2
            font-size: 28px
            color: #454C58
        p
            color: #8B94A4
    .property-table-card 
        background: #ffffff 
        border: 1px solid #e0e0e0 
        border-radius: 12px 
        overflow: hidden
        margin-top: 30px
        table 
            width: 100% 
            border-collapse: collapse 
        td 
            padding: 8px 20px
            border-bottom: 1px solid #f0f0f0 
            font-size: 15px 
            color: #000000
        tr 
            &:last-child 
                td 
                    border-bottom: none 
            td
                &:nth-child(2)
                    width: 340px
                    font-weight: 600
                    padding: 8px 20px 8px 8px
                    
        .icon-cell 
            width: 40px
            color: #000000
            padding-right: 0 
            i
                font-size: 18px 
                vertical-align: middle 
        .distance-cell 
            text-align: right 
            color: #000000
            font-size: 14px 
            white-space: nowrap 