@import '../_var'

.travel-guide-banner
    height: 100vh
    .bg-wrapper
        text-align: center
    h1
        font-family: 'Kaushan Script'
        margin: 20px auto 40px !important
        width: 100%
        max-width: 100% !important
        font-size: 75px
    h2
        color: $white
        font-size: 48px
    p
        margin: auto
        max-width: 712px !important