@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.travel-guide-banner {
  height: 100vh;
}
.travel-guide-banner .bg-wrapper {
  text-align: center;
}
.travel-guide-banner h1 {
  font-family: "Kaushan Script";
  margin: 20px auto 40px !important;
  width: 100%;
  max-width: 100% !important;
  font-size: 75px;
}
.travel-guide-banner h2 {
  color: var(--white);
  font-size: 48px;
}
.travel-guide-banner p {
  margin: auto;
  max-width: 712px !important;
}

.direction-sec-secA {
  padding: 60px 0;
}
.direction-sec-secA .heading {
  text-align: center;
}
.direction-sec-secA .heading h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}
.direction-sec-secA .heading p {
  max-width: 590px;
  margin: 20px auto 0;
}
.direction-sec-secA .heading h3 {
  font-size: 60px;
  font-weight: 400;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.direction-sec-secA .heading h3::before {
  content: "";
  background: var(--secondary);
  width: 150px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.direction-sec-secA figure {
  margin: 40px auto 0;
  line-height: 0;
  max-width: 1080px;
  height: 400px;
  overflow: hidden;
}
.direction-sec-secA figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.travel-guide-secA {
  padding: 60px 0;
}
.travel-guide-secA .heading {
  text-align: center;
}
.travel-guide-secA .heading h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}
.travel-guide-secA .heading p {
  max-width: 590px;
  margin: 20px auto 0;
}
.travel-guide-secA .heading h3 {
  font-size: 60px;
  font-weight: 400;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.travel-guide-secA .heading h3::before {
  content: "";
  background: var(--secondary);
  width: 150px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.travel-guide-secA .cat-grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 60px;
}
.travel-guide-secA .cat-grid-box .grid-box-item {
  flex: 0 1 50%;
}
.travel-guide-secA .cat-grid-box .grid-box-item:hover figure .figinfo {
  top: 0;
}
.travel-guide-secA .cat-grid-box .grid-box-item figure {
  height: 473px;
  margin: 0;
  border-radius: 20px;
  line-height: 0;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(21px);
}
.travel-guide-secA .cat-grid-box .grid-box-item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.travel-guide-secA .cat-grid-box .grid-box-item figure .figinfo {
  background: rgba(252, 198, 111, 0.8509803922);
  padding: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  text-align: center;
  backdrop-filter: blur(6px);
  transition: 0.7s ease;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.travel-guide-secA .cat-grid-box .grid-box-item figure .figinfo h4 {
  color: black;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
.travel-guide-secA .cat-grid-box .grid-box-item figure .figinfo p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: black;
}
.travel-guide-secA .cat-grid-box .grid-box-item .group-btn {
  width: 100%;
  text-align: center;
}
.travel-guide-secA .cat-grid-box .grid-box-item .group-btn .btn {
  width: 80%;
  margin: 20px auto 0;
  border-radius: 10px;
}

.journey-awaits-sec {
  padding: 70px 0;
  background: #49795A;
}
.journey-awaits-sec .heading {
  text-align: center;
}
.journey-awaits-sec .heading h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: white;
}
.journey-awaits-sec .heading p {
  max-width: 490px;
  margin: 20px auto 0;
  color: white;
}
.journey-awaits-sec .heading h3 {
  font-size: 60px;
  font-weight: 400;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: white;
}
.journey-awaits-sec .heading h4 {
  color: white;
  font-family: Kaushan Script;
  font-size: 55px;
  max-width: 100% !important;
  margin: 0px auto 40px !important;
  position: relative;
  display: inline-block;
  font-weight: 400;
}
.journey-awaits-sec .heading h4::before {
  content: "";
  background: var(--secondary);
  width: 150px;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.journey-awaits-sec .group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  gap: 30px;
}
.journey-awaits-sec .group-btn a {
  font-weight: 400;
  font-size: 16px;
  color: #49795A;
  background: white;
  padding: 8px 20px;
  border: 1px solid white;
  transition: 0.5s ease;
}
.journey-awaits-sec .group-btn a:hover {
  background: transparent;
  color: white;
}
.journey-awaits-sec .group-btn a:last-child {
  background: transparent;
  color: white;
}
.journey-awaits-sec .group-btn a:last-child:hover {
  background: white;
  color: #49795A;
}

.culture-heritage {
  padding: 50px 0;
  background: white;
}
.culture-heritage ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.culture-heritage ul li {
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid transparent;
  font-family: Marcellus;
}
.culture-heritage ul li.active {
  background: #FAA935;
  border: 1px solid #FAA935;
  color: var(--white);
  transition: 0.5s ease;
}
.culture-heritage .heading h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
.culture-heritage .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.culture-heritage .flex-box:nth-child(2n) {
  flex-direction: row-reverse;
}
.culture-heritage .flex-box figure {
  flex: 0 1 50%;
  line-height: 0;
}
.culture-heritage .flex-box figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.culture-heritage .flex-box figcaption {
  flex: 0 1 50%;
}
.culture-heritage .flex-box figcaption h3 {
  font-weight: 400;
  font-size: 48px;
  color: black;
  line-height: 1;
  margin-bottom: 20px;
}
.culture-heritage .flex-box figcaption p {
  max-width: 90%;
}

.explore-nearby {
  padding: 50px 0;
}
.explore-nearby .tab-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}
.explore-nearby .tab-list li {
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid transparent;
  font-family: Marcellus;
  text-align: center;
}
.explore-nearby .tab-list li.active {
  background: #FAA935;
  border: 1px solid #FAA935;
  color: var(--white);
  transition: 0.5s ease;
}
.explore-nearby .heading h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
.explore-nearby .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.explore-nearby .grid-box.south-grid {
  grid-template-columns: repeat(2, 1fr);
}
.explore-nearby .grid-box.south-grid figure {
  background: rgba(0, 0, 0, 0.3019607843);
}
.explore-nearby .grid-box.south-grid figcaption {
  backdrop-filter: none;
}
.explore-nearby .box {
  position: relative;
  overflow: hidden;
}
.explore-nearby .box figure img {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.explore-nearby .box figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  color: #fff;
  backdrop-filter: blur(5.3828px);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15), transparent);
}
.explore-nearby .box figcaption h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
.explore-nearby .box figcaption p {
  font-size: 16px;
}/*# sourceMappingURL=travel-guide.css.map */