@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.product-card {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 8px;
  border: 1.2px solid #DDDFE3;
  border-radius: 10px;
}
.product-card .hotel-card {
  background: #fff;
  transition: all 0.3s ease;
}
.product-card .hotel-card figure {
  position: relative;
  line-height: 0;
  height: 260px;
}
.product-card .hotel-card figure .swiper {
  height: 100%;
  width: 100%;
}
.product-card .hotel-card figure .swiper .swiper-wrapper {
  padding: 0;
}
.product-card .hotel-card figure .swiper .banner {
  height: 100%;
  width: 100%;
}
.product-card .hotel-card figure .swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
}
.product-card .hotel-card figure .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  opacity: 0.3;
  background: var(--white) !important;
}
.product-card .hotel-card figure .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card .hotel-card figure .swiper-button-prev, .product-card .hotel-card figure .swiper-button-next {
  top: 50% !important;
  width: 38px;
  height: 38px;
  border-radius: 120px;
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 9px;
}
.product-card .hotel-card figure .swiper-button-prev svg path, .product-card .hotel-card figure .swiper-button-next svg path {
  fill: var(--white);
}
.product-card .hotel-card figure .swiper-button-prev.swiper-button-disabled, .product-card .hotel-card figure .swiper-button-next.swiper-button-disabled {
  cursor: no-drop;
  pointer-events: auto;
}
.product-card .hotel-card figure .tag {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #049153;
  color: #fff;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.4;
  border-bottom-right-radius: 12px;
  z-index: 1;
}
.product-card .hotel-card figure .wishlist-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .hotel-card figure .wishlist-btn.fill svg path {
  fill: #FF0000;
  stroke: #FF0000;
}
.product-card .hotel-card figcaption {
  padding: 10px 5px;
}
.product-card .hotel-card figcaption .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .hotel-card figcaption .card-header h3 {
  font-size: 18px;
  margin: 0;
}
.product-card .hotel-card figcaption .rating {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  line-height: 1;
}
.product-card .hotel-card figcaption .rating img {
  height: 14px;
  width: 14px;
}
.product-card .hotel-card figcaption .location {
  color: #DF6951;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  padding: 8px 0;
}
.product-card .hotel-card figcaption .reviews {
  font-size: 14px;
  color: #8B94A4;
  margin: 5px 0 15px;
  display: flex;
  align-items: center;
  gap: 9px;
}
.product-card .hotel-card figcaption .reviews .rating-deci {
  background: #F1F2F3;
  color: #DF6951;
  font-weight: 600;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 30px;
  border-top-right-radius: 0px;
}
.product-card .hotel-card figcaption .reviews .rating-detail {
  color: #DF6951;
}
.product-card .hotel-card figcaption .desc {
  font-size: 16px;
  color: #1F2226;
  margin: 6px 0 25px 0;
}
.product-card .hotel-card figcaption .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.product-card .hotel-card figcaption .discount {
  background: #CDF8E5;
  color: #06C270;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}
.product-card .hotel-card figcaption .price {
  text-align: right;
}
.product-card .hotel-card figcaption .price .col {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.product-card .hotel-card figcaption .price .col .old {
  text-decoration: line-through;
  color: #8B94A4;
  font-size: 16px;
  margin: 0;
  line-height: 1;
}
.product-card .hotel-card figcaption .price .col .new {
  font-size: 18px;
  font-weight: 700;
  color: #121316;
  margin: 0;
  line-height: 1;
}
.product-card .hotel-card figcaption .price .meta {
  font-size: 14px;
  color: #8B94A4;
}

.testimonials-card figure {
  height: 340px;
  border-radius: 20px;
  overflow: hidden;
  line-height: 0;
  margin-bottom: 20px;
}
.testimonials-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-card figcaption p {
  width: 90%;
}
.testimonials-card figcaption .bottom-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 18px;
}
.testimonials-card figcaption .bottom-flex .figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials-card figcaption .bottom-flex .figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-card figcaption .bottom-flex .user-details {
  flex: 1;
}
.testimonials-card figcaption .bottom-flex .user-details h5 {
  font-size: 20px;
  margin-bottom: 2px;
}
.testimonials-card figcaption .bottom-flex .user-details p {
  font-size: 14px;
}

.WhatForYouCard figure {
  height: 400px;
  width: 100%;
  line-height: 0;
  border-radius: 15px;
  overflow: hidden;
}
.WhatForYouCard figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.WhatForYouCard figcaption {
  padding: 20px 0 0 0;
}
.WhatForYouCard figcaption h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.WhatForYouCard figcaption p {
  font-size: 16px;
  max-width: 90%;
}

.form-group {
  position: relative;
}
.form-group .custom-select-box {
  border: 1px solid #d6d3d1;
  border-radius: 7px;
  width: 100%;
  max-width: 100%;
  padding: 7px 20px 7px 10px;
  font-family: Poppins;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.form-group .custom-select-box.active::before {
  transform: translate(-50%) rotate(180deg);
}
.form-group .custom-select-box::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 3%;
  transform: translate(-50%);
  z-index: 1;
  background: url(/assets/icon/down-arrow-gray.svg) no-repeat;
  width: 15px;
  height: 10px;
  background-size: contain;
  transition: 0.5s ease;
}
.form-group .custom-select-list {
  border: 1px solid #ccc;
  margin-top: 5px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 2;
  max-height: 0;
  opacity: 0;
  transform: translateY(-6px);
  overflow: hidden;
  pointer-events: none;
  transition: max-height 0.28s ease, opacity 0.22s ease, transform 0.22s ease;
}
.form-group .custom-select-list::-webkit-scrollbar {
  width: 8px;
  background: var(--black);
}
.form-group .custom-select-list::-webkit-scrollbar-track {
  box-shadow: none;
}
.form-group .custom-select-list::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
.form-group .custom-select-list.open {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  overflow-y: auto;
}
.form-group .option {
  padding: 8px 10px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  transition: 0.3s ease;
}
.form-group .option:hover {
  background: var(--secondary);
  color: var(--white);
}
.form-group .option.selected {
  background: var(--secondary);
  color: #fff;
}

.swiper-group {
  position: relative;
}

.swiper-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: -11%;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row;
  max-width: 1320px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media only screen and (max-width: 1024px) {
  .swiper-nav {
    width: 35%;
  }
}
@media only screen and (max-width: 991px) {
  .swiper-nav {
    top: 6%;
    width: 40%;
  }
}
@media only screen and (max-width: 540px) {
  .swiper-nav {
    display: none;
  }
}
.swiper-nav.center-full-full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 104%;
  z-index: 2;
  justify-content: space-between;
}
.swiper-nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  transition: 0.4s ease;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  pointer-events: all;
}
.swiper-nav button.swiper-button-disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.swiper-nav button svg {
  vertical-align: middle;
  width: 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.swiper-nav button svg path {
  fill: var(--white);
}
.swiper-nav button:hover {
  background: var(--white);
}
.swiper-nav button:hover svg path {
  fill: var(--secondary);
}
.swiper-nav button.product-btn {
  background: transparent;
  border: 1px solid #DF6951;
}
.swiper-nav button.product-btn svg path {
  fill: #DF6951;
}
.swiper-nav button.product-btn:hover {
  background: #DF6951;
}
.swiper-nav button.product-btn:hover svg path {
  fill: var(--white);
}

.coastal-living-card {
  width: 100%;
}
.coastal-living-card:hover figure {
  position: relative;
}
.coastal-living-card:hover figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.coastal-living-card:hover figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.coastal-living-card:hover img {
  scale: 1.1;
}
.coastal-living-card figure {
  border-radius: 25px;
  overflow: hidden;
  line-height: 0;
  width: 100%;
}
.coastal-living-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.coastal-living-card figcaption h4 {
  margin-top: 20px;
  line-height: 1.2;
  color: var(--black);
}
@media only screen and (max-width: 540px) {
  .coastal-living-card figcaption h4 {
    text-align: center;
  }
}

.popular-things-card figure {
  height: 263px;
  border-radius: 19.2px;
  overflow: hidden;
  position: relative;
  line-height: 0;
}
.popular-things-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-things-card figure .flex-box {
  position: absolute;
  padding: 20px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-things-card figure .flex-box .col:first-child {
  background: rgba(255, 255, 255, 0.7490196078);
  backdrop-filter: blur(6px);
  border: 1.2px solid #DDDFE3;
  border-radius: 25px;
  padding: 5px 10px;
}
.popular-things-card figure .flex-box .col:first-child p {
  font-size: 14px;
}
.popular-things-card figure .flex-box .col:last-child {
  border: 1.2px solid #DDDFE3;
  background: rgba(255, 255, 255, 0.7490196078);
  backdrop-filter: blur(6px);
  border-radius: 25px;
  padding: 5px 10px;
}
.popular-things-card figure .flex-box .col:last-child p {
  font-size: 14px;
}
.popular-things-card figcaption {
  padding: 15px 0 0 0;
}
.popular-things-card figcaption h4 {
  font-size: 24px;
}

.similar-properties-card {
  border: 1.2px solid #DDDFE3;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 440px 1fr 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .similar-properties-card {
    grid-template-columns: 660px 1fr;
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .similar-properties-card {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .similar-properties-card {
    gap: 0px;
  }
}
.similar-properties-card .image-slider {
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  height: 264px;
}
@media only screen and (max-width: 1024px) {
  .similar-properties-card .image-slider {
    grid-column: 1/-1;
    height: 420px;
  }
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .image-slider {
    height: 220px;
  }
}
.similar-properties-card .image-slider .swiper {
  height: 100%;
  width: 100%;
}
.similar-properties-card .image-slider .swiper .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.similar-properties-card .image-slider .swiper .swiper-button-prev, .similar-properties-card .image-slider .swiper .swiper-button-next {
  top: 50% !important;
  width: 38px;
  height: 38px;
  border-radius: 120px;
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 9px;
}
.similar-properties-card .image-slider .swiper .swiper-button-prev svg path, .similar-properties-card .image-slider .swiper .swiper-button-next svg path {
  fill: var(--white);
}
.similar-properties-card .image-slider .swiper .swiper-button-prev.swiper-button-disabled, .similar-properties-card .image-slider .swiper .swiper-button-next.swiper-button-disabled {
  cursor: no-drop;
  pointer-events: auto;
}
.similar-properties-card .card-content {
  padding: 1.1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
}
@media only screen and (max-width: 1024px) {
  .similar-properties-card .card-content {
    padding: 0.5rem 0.5rem 0.5rem;
  }
}
.similar-properties-card .card-content .top-flex {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .card-content .top-flex {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
}
.similar-properties-card .card-content .top-flex .rating-badge {
  display: flex;
  gap: 10px;
}
.similar-properties-card .card-content .top-flex .rating-badge .col {
  display: flex;
  flex-direction: column;
}
.similar-properties-card .card-content .top-flex .rating-badge .col .rating-label {
  color: var(--secondary);
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  line-height: 1;
  margin-bottom: 5px;
}
.similar-properties-card .card-content .top-flex .rating-badge .col .rating-reviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 12.8px;
  text-align: right;
  color: #8B94A4;
}
.similar-properties-card .card-content .top-flex .rating-badge .rating-score {
  background: #F1F2F3;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 600;
  padding: 6px 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.similar-properties-card .card-content .top-flex .villa-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}
.similar-properties-card .card-content .villa-meta {
  display: flex;
  gap: 1.25rem;
  padding: 0 0 0 10px;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .card-content .villa-meta {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
.similar-properties-card .card-content .villa-meta .meta-item {
  display: flex;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .card-content .villa-meta .meta-item {
    flex-direction: row;
    gap: 6px;
    align-items: center;
  }
}
.similar-properties-card .card-content .villa-meta .meta-icon {
  font-size: 1rem;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .card-content .villa-meta .meta-icon {
    line-height: 0;
  }
}
.similar-properties-card .card-content .details-label {
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.similar-properties-card .card-content .bottom-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .card-content .bottom-box {
    flex-direction: column;
    gap: 20px;
  }
}
.similar-properties-card .card-content .bottom-box .amenities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem 0rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0 0 10px;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .card-content .bottom-box .amenities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.similar-properties-card .card-content .bottom-box .amenities-grid .amenity {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #1F2226;
  font-weight: 400;
  font-size: 14px;
}
.similar-properties-card .card-content .bottom-box .amenities-grid .amenity .amenity-icon {
  font-size: 0.9rem;
}
.similar-properties-card .card-content .bottom-box .more-details {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  color: var(--secondary);
  text-align: right;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.similar-properties-card .card-content .bottom-box .more-details:hover svg {
  transform: translateX(5px);
}
.similar-properties-card .card-content .bottom-box .more-details svg {
  width: 21px;
  height: 21px;
  transition: 0.5s ease;
}
.similar-properties-card .pricing-panel {
  border-left: 1.2px solid #DDDFE3;
  padding: 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.5rem;
}
@media only screen and (max-width: 1024px) {
  .similar-properties-card .pricing-panel {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .pricing-panel {
    border-left: none;
    border-top: 1.2px solid #DDDFE3;
    padding: 1rem 0 0 0;
  }
}
.similar-properties-card .pricing-panel .not-available {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  margin-top: 60px;
  color: #383E48;
}
.similar-properties-card .pricing-panel .discount-tag {
  color: #06c270;
  background: #cdf8e5;
  border-radius: 28.8px;
  gap: 9.6px;
  padding: 2px 11px;
  font-size: 16px;
  font-weight: 500;
}
.similar-properties-card .pricing-panel .price-block {
  text-align: right;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .pricing-panel .price-block {
    text-align: left;
  }
}
.similar-properties-card .pricing-panel .price-block .flex-box {
  justify-content: right;
  gap: 10px;
}
@media only screen and (max-width: 540px) {
  .similar-properties-card .pricing-panel .price-block .flex-box {
    justify-content: left;
  }
}
.similar-properties-card .pricing-panel .price-block .price-original {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #8B94A4;
  text-decoration: line-through;
  line-height: 1;
}
.similar-properties-card .pricing-panel .price-block .price-current {
  font-weight: 500;
  line-height: 1;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.similar-properties-card .pricing-panel .price-block .price-per-night {
  font-weight: 400;
  font-size: 14px;
  color: #383E48;
}
.similar-properties-card .pricing-panel .price-block .price-total {
  font-size: 18px;
  font-weight: 400;
  color: #383E48;
  margin-top: 4px;
}
.similar-properties-card .pricing-panel .price-block .price-total span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26.4px;
  text-align: right;
}
.similar-properties-card .pricing-panel .btn {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}
.similar-properties-card .pricing-panel .btn.disable {
  background: #F1F2F3;
  border: 1px solid #F1F2F3;
  color: #B5BAC2;
  cursor: no-drop;
}

.accordian-wrapper {
  background: #FFFBF6;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.accordian-wrapper.open .title {
  padding: 30px 20px 0px 20px;
}
.accordian-wrapper.open .title .ico {
  scale: 0;
}
.accordian-wrapper .title {
  padding: 30px 20px;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .accordian-wrapper .title {
    padding: 30px 45px 30px 20px;
  }
}
.accordian-wrapper .title h4 {
  font-size: 24px;
}
@media only screen and (max-width: 540px) {
  .accordian-wrapper .title h4 {
    font-size: 18px;
    line-height: 1.2;
  }
}
.accordian-wrapper .title .ico {
  width: 33px;
  height: 33px;
  line-height: 0;
  position: absolute;
  top: 29px;
  right: 30px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 540px) {
  .accordian-wrapper .title .ico {
    right: 10px;
  }
}
.accordian-wrapper .title .ico img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.accordian-wrapper p {
  color: #626060;
  padding: 10px 20px 40px 20px;
}

.add-on-service-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 19.2px;
  padding: 15px;
  width: 100%;
}
.add-on-service-card figure {
  height: 263px;
  line-height: 0;
  border-radius: 15px;
  overflow: hidden;
}
.add-on-service-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-on-service-card figcaption h4 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 10px auto 10px;
}/*# sourceMappingURL=component.css.map */