@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.detail-flex-box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 0;
}
.detail-flex-box .left-col {
  flex: 1;
}
.detail-flex-box .left-col figure {
  margin: 40px 0;
  width: 100%;
  height: 470px;
  border-radius: 10px;
  overflow: hidden;
}
.detail-flex-box .left-col figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail-flex-box .left-col h2 {
  font-weight: 600;
  color: var(--secondary);
  font-size: 20px;
  margin-bottom: 15px;
}
.detail-flex-box .right-col {
  width: 380px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  padding: 30px;
  width: 380px;
  max-width: 380px;
}
.detail-flex-box .right-col figure {
  width: 80px;
  height: 77px;
  line-height: 0;
  margin: 0 auto 20px;
}
.detail-flex-box .right-col figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.detail-flex-box .form .submit-btn {
  text-align: center;
  margin: 15px 0 0 0;
}

.similar-blogs {
  padding: 20px 0 50px 0;
}
.similar-blogs h2 {
  text-align: center;
  margin-bottom: 30px;
}

.blog-secB {
  padding: 50px 0;
}
.blog-secB .container .row {
  display: grid;
  grid-template-columns: 72px 1fr 315px;
  gap: 50px;
}
.blog-secB .container .blog-stat .stat-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-secB .container .blog-stat .stat-card:nth-of-type(2) {
  margin-top: 60px;
}
.blog-secB .container .blog-stat .stat-card span {
  font-size: 16px;
}
.blog-secB .container .blog-stat .stat-card span:nth-of-type(1) {
  margin-top: 8px;
}
.blog-secB .container .blog-stat .social-stat {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog-secB .container .blog-stat .social-stat li {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-direction: column;
  width: 100%;
  color: #000;
}
.blog-secB .container .blog-article {
  color: #666666;
}
.blog-secB .container .blog-article p {
  font-weight: 400;
}
.blog-secB .container .blog-article img {
  margin: 26px 0;
}
.blog-secB .container .sidebar h4 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.blog-secB .container .sidebar ul {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.blog-secB .container .sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  flex-direction: column;
  color: #000;
}
.blog-secB .container .sidebar p {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  margin-top: 24px;
  color: #121416;
}
.blog-secB .container .sidebar .latest-article {
  margin-top: 30px;
}
.blog-secB .container .sidebar .latest-article h4 {
  font-size: 22px;
  font-weight: 400;
}
.blog-secB .container .sidebar .latest-article .rowA {
  margin-top: 30px;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card:not(:last-child) {
  margin-bottom: 25px;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card {
  width: 100%;
  height: 250px;
  position: relative;
  display: block;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5215686275);
  z-index: 1;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card figcaption {
  position: absolute;
  inset: 0;
  padding: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card figcaption h4 {
  line-height: 1.2;
  color: #fff;
  flex: 1;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card figcaption p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  display: flex;
  gap: 10px;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card figcaption p span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.blog-secB .container .sidebar .latest-article .rowA .latest-blog-card figcaption p span img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  filter: brightness(0) invert(1);
}

.blog-secC {
  padding: 50px 0;
}
.blog-secC .container h4 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}
.blog-secC .container .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}/*# sourceMappingURL=blogs-detail.css.map */