@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
#Testimonials, #How_It_Works, #Ngo_Network, #Faqs {
  scroll-margin-top: 95px;
}

.ngo-landing-banner {
  margin-top: var(--headerheight);
  background: #F8ECE6;
  padding: 100px 0 0 0;
  line-height: 0;
}
.ngo-landing-banner .flex-box {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: auto;
}
.ngo-landing-banner .flex-box figcaption {
  max-width: 510px;
}
.ngo-landing-banner .flex-box figcaption h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary);
  margin-bottom: 15px;
}
.ngo-landing-banner .flex-box figcaption h1 span {
  color: var(--primary);
}
.ngo-landing-banner .flex-box figcaption p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 394px;
  margin-bottom: 20px;
}
.ngo-landing-banner .flex-box figure {
  position: relative;
}
.ngo-landing-banner .flex-box figure img {
  position: relative;
  z-index: 1;
}
.ngo-landing-banner .flex-box figure .vector-img {
  width: 443px;
  height: 391px;
  position: absolute;
  bottom: -11%;
  left: -19%;
  z-index: 0;
}
.ngo-landing-banner .flex-box figure .vector-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ngo-landing-secA {
  padding: 50px 0;
}
.ngo-landing-secA h2 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--text);
  text-align: center;
}
.ngo-landing-secA h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #173254;
  max-width: 484px;
  margin: 10px auto 40px;
}
.ngo-landing-secA .grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.ngo-landing-secA .grid-box .col {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 234px;
  transition: 0.5s ease;
}
.ngo-landing-secA .grid-box .col::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #F8ECE6 100%);
  transition: 0.5s ease;
}
.ngo-landing-secA .grid-box .col:hover {
  border: 1px solid var(--primary);
}
.ngo-landing-secA .grid-box .col:hover .plus {
  opacity: 0;
}
.ngo-landing-secA .grid-box .col:hover::before {
  background: var(--primary);
}
.ngo-landing-secA .grid-box .col:hover .col-wrap {
  top: 34%;
}
.ngo-landing-secA .grid-box .col:hover .col-wrap figcaption h4 {
  color: var(--white);
}
.ngo-landing-secA .grid-box .col:hover .col-wrap figcaption p {
  color: var(--white);
  opacity: 1;
  transform: translateY(0%);
}
.ngo-landing-secA .grid-box .col .plus {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 33px;
  height: 33px;
  background: var(--white);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 15px 0;
  transition: 0.3s ease;
}
.ngo-landing-secA .grid-box .col .col-wrap {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
  transition: 0.5s ease;
}
.ngo-landing-secA .grid-box .col .col-wrap figure {
  width: 57px;
  height: 57px;
  margin: auto;
}
.ngo-landing-secA .grid-box .col .col-wrap figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ngo-landing-secA .grid-box .col .col-wrap figcaption h4 {
  font-weight: 600;
  color: var(--black);
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px 0;
  transition: 0.5s ease;
}
.ngo-landing-secA .grid-box .col .col-wrap figcaption p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
  color: var(--black);
  transform: translateY(100%);
  transition: 0.7s ease;
  opacity: 0;
}

.ngo-landing-secB {
  position: relative;
  background: linear-gradient(180deg, #173254 0%, #1F4370 100%);
  padding: 60px 0 80px 0;
}
.ngo-landing-secB h2 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6980392157);
  text-align: center;
}
.ngo-landing-secB h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--white);
  max-width: 484px;
  margin: 10px auto 40px;
}
.ngo-landing-secB .year-swiper-grid {
  display: flex;
  flex-direction: column;
}
.ngo-landing-secB .swiper-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .swiper-card {
    width: 100%;
  }
}
.ngo-landing-secB .swiper-card .card-body {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-card .card-body {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
.ngo-landing-secB .swiper-card .card-body figure {
  width: 387px;
  height: 266px;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .swiper-card .card-body figure {
    width: 100%;
    height: 100%;
  }
}
.ngo-landing-secB .swiper-card .card-body figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ngo-landing-secB .swiper-card .card-body .card-content {
  flex: 1;
  max-width: 313px;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-card .card-body .card-content {
    max-width: 100%;
    text-align: center;
  }
}
.ngo-landing-secB .swiper-card .card-body .card-content h5 {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: var(--text);
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: var(--white);
}
.ngo-landing-secB .swiper-card .card-body .card-content p {
  color: var(--text);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6980392157);
  margin-bottom: 30px;
}
.ngo-landing-secB .swiper-card .card-body .card-content a {
  padding: 10px 30px;
}
.ngo-landing-secB .year-timeline {
  margin: 0px 0 55px;
  position: relative;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .year-timeline {
    flex: 1 -50%;
    margin: 40px 0 15px;
  }
}
.ngo-landing-secB .year-timeline .container {
  max-width: 740px;
}
@media only screen and (max-width: 1024px) {
  .ngo-landing-secB .year-timeline .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .ngo-landing-secB .year-timeline .container {
    padding: 0 18px;
  }
}
.ngo-landing-secB .year-timeline .years-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ngo-landing-secB .year-timeline .year-dots {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  z-index: 2;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .year-timeline .year-dots {
    gap: 25px;
  }
}
.ngo-landing-secB .year-timeline .year-dots::-webkit-scrollbar {
  height: 4px;
}
.ngo-landing-secB .year-timeline .year-dots::-webkit-scrollbar-track {
  box-shadow: unset;
  background: rgba(102, 102, 102, 0.168627451);
}
.ngo-landing-secB .year-timeline .year-dots::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}
.ngo-landing-secB .year-timeline .year-dots figure {
  width: 63px;
  height: 63px;
  opacity: 1;
  background: #455B76;
  border: 1px solid rgba(102, 102, 102, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  line-height: 0;
  padding: 14px;
}
.ngo-landing-secB .year-timeline .year-dots figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.4;
  transition: all 0.3s ease;
}
.ngo-landing-secB .year-timeline .year-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #A1A1A1;
  transition: all 0.3s ease;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
@media only screen and (max-width: 1250px) {
  .ngo-landing-secB .year-timeline .year-dot {
    font-size: 12px;
  }
}
.ngo-landing-secB .year-timeline .year-dot.active {
  color: var(--white);
}
.ngo-landing-secB .year-timeline .year-dot.active figure {
  background: var(--primary);
}
.ngo-landing-secB .year-timeline .year-dot.active figure img {
  opacity: 1;
}
.ngo-landing-secB .year-timeline .timeline-line-left {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3D5169;
  z-index: 1;
  width: 50%;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .year-timeline .timeline-line-left {
    background: none;
  }
}
.ngo-landing-secB .year-timeline .timeline-line-right {
  position: absolute;
  top: 32px;
  right: 0;
  height: 2px;
  background-color: #3D5169;
  z-index: 1;
  width: 50%;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .year-timeline .timeline-line-right {
    background: none;
  }
}
.ngo-landing-secB .swiper-parent {
  flex: 1;
  max-width: 1030px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-parent {
    flex: 0 50%;
  }
}
.ngo-landing-secB .swiper-parent .container {
  max-width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media only screen and (max-width: 1550px) {
  .ngo-landing-secB .swiper-parent .container {
    max-width: 94%;
  }
}
@media only screen and (max-width: 1024px) {
  .ngo-landing-secB .swiper-parent .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-parent .container {
    padding: 0 18px;
    flex-direction: column-reverse;
  }
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap {
  width: 100%;
  flex: 0 1 100%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-parent .container .swiper-wrap {
    width: 100%;
  }
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-wrapper {
  align-items: center;
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 999999;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav {
    display: none;
  }
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button:hover svg path {
  stroke: var(--secondary);
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button.swiper-button-disabled {
  opacity: 0.5;
  cursor: no-drop;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button {
    background: transparent;
    box-shadow: none;
  }
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button svg {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 768px) {
  .ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button svg {
    width: 25px;
    height: 25px;
  }
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav button svg path {
  stroke: var(--white);
  fill: none;
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav .specialization-prev {
  transform: rotate(270deg);
}
.ngo-landing-secB .swiper-parent .container .swiper-wrap .swiper-nav .specialization-next {
  transform: rotate(90deg);
}

.ngo-landing-secC {
  padding: 50px 0;
}
.ngo-landing-secC .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.ngo-landing-secC .flex-box .col:first-child h2 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #666666;
}
.ngo-landing-secC .flex-box .col:first-child h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #173254;
  max-width: 484px;
  margin: 10px 0 20px;
}
.ngo-landing-secC .flex-box .col:first-child p {
  max-width: 470px;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
}
.ngo-landing-secC .flex-box .col:last-child figure {
  width: 495px;
  height: 548px;
  position: relative;
}
.ngo-landing-secC .flex-box .col:last-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secC .flex-box .col:last-child figure img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer {
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--primary);
  border-radius: 50%;
  border: 3px solid #e3e3e3;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer.first {
  top: 27.5%;
  right: 65.4%;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secC .flex-box .col:last-child figure .pointer.first {
    right: 28.4%;
  }
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer.second {
  top: 36%;
  right: 76%;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secC .flex-box .col:last-child figure .pointer.second {
    right: 27%;
  }
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer.third {
  top: 37%;
  right: 53%;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secC .flex-box .col:last-child figure .pointer.third {
    right: 22.5%;
  }
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer.fourth {
  top: 46%;
  right: 62.5%;
}
@media only screen and (max-width: 540px) {
  .ngo-landing-secC .flex-box .col:last-child figure .pointer.fourth {
    right: 9%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: rgba(181, 60, 0, 0.4);
  border-radius: 50%;
  top: -20%;
  left: -29%;
  transform: translate(-50%, -50%);
  animation: pulse 1.8s infinite;
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer:hover .tooltip {
  opacity: 1;
  bottom: 25px;
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer .tooltip {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary);
  color: #fff;
  padding: 6px 16px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 16px;
}
.ngo-landing-secC .flex-box .col:last-child figure .pointer .tooltip::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--primary);
}

.ngo-landing-secD {
  background: #F1F1F1;
  padding: 50px 0;
}
.ngo-landing-secD .heading h2 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #666666;
  text-align: center;
}
.ngo-landing-secD .heading h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #173254;
  max-width: 484px;
  text-align: center;
  margin: 10px auto 50px;
}

.faq-sec {
  padding: 50px 0;
  position: relative;
}
.faq-sec .vector-img {
  width: 303px;
  height: 281px;
  position: absolute;
  bottom: -11%;
  left: -4%;
  z-index: 0;
}
.faq-sec .vector-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.faq-sec .flex-box {
  position: relative;
}
.faq-sec .flex-box .col:first-child h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin: 0 0 30px 0;
  max-width: 427px;
}
.faq-sec .flex-box .col:last-child {
  flex: 1;
  max-width: 60%;
  margin-left: auto;
}/*# sourceMappingURL=ngo-landing.css.map */