@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.hero-banner .blog-banner {
  margin-top: var(--headerheight);
  background: #F8ECE6;
  padding: 100px 0;
  text-align: center;
}
.hero-banner .blog-banner .bg-background .container .bg-wrapper h1 {
  font-weight: 700;
  font-size: 98px;
  line-height: 1.1;
}
.hero-banner .blog-banner .bg-background .container .bg-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 337px;
  margin: 15px auto 0;
}
@media only screen and (max-width: 1024px) {
  .hero-banner .blog-banner .bg-background .container .bg-wrapper p {
    margin: 15px auto 0;
    text-align: center;
  }
}

.blog-listing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  padding: 50px 0;
}
@media only screen and (max-width: 1024px) {
  .blog-listing-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .blog-listing-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.blog-secA {
  padding: 50px 0;
}
.blog-secA .container .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media only screen and (max-width: 1024px) {
  .blog-secA .container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .blog-secA .container .row {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.blog-card figure {
  height: 280.38px;
  overflow: hidden;
  position: relative;
  position: relative;
}
.blog-card figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.blog-card figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.blog-card figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.5s ease;
}
.blog-card figure:hover img {
  transform: scale(1.1);
}
.blog-card figure .blog-tags {
  position: absolute;
  top: 12px;
  left: 8px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-card figure .blog-tags span {
  color: #FFF;
  font-size: 14px;
  line-height: 120%;
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 3px;
}
.blog-card figcaption p:nth-of-type(1) {
  margin: 24px 0 28px;
  color: #666;
  font-size: 20px;
  font-weight: 400;
}
.blog-card figcaption p:nth-of-type(1) strong {
  color: #000;
  font-weight: 400;
  font-size: 22px;
}
.blog-card figcaption p:nth-of-type(2) {
  color: rgba(18, 20, 22, 0.8117647059);
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-card figcaption p:nth-of-type(2) span {
  font-size: 14px;
}
.blog-card figcaption p:nth-of-type(2) span:nth-of-type(3) {
  display: flex;
  gap: 8px;
  align-items: center;
}/*# sourceMappingURL=blogs.css.map */