@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.home-secA {
  padding: 50px 0;
}
.home-secA h2 {
  text-align: center;
  margin-bottom: 30px;
}
.home-secA .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.home-secA .flex-box .col:first-child {
  flex: 0 1 50%;
}
.home-secA .flex-box .col:first-child figcaption {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.home-secA .flex-box .col:first-child figcaption p {
  font-size: 18px;
  max-width: 440px;
  margin-bottom: 30px;
}
.home-secA .flex-box .col:first-child figcaption p span {
  color: var(--secondary);
}
.home-secA .flex-box .col:last-child {
  flex: 0 1 50%;
}
.home-secA .flex-box .col:last-child figure {
  width: 460px;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0;
}
.home-secA .flex-box .col:last-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-secB {
  padding: 50px 0 0 0;
}
.home-secB .heading {
  text-align: center;
  margin-bottom: 30px;
}
.home-secB .heading h2 {
  margin-bottom: 5px;
}
.home-secB .swiper-group .swiper .swiper-pagination {
  bottom: 40px !important;
}
.home-secB .swiper-group .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #DF6951 !important;
}
.home-secB .swiper-group .swiper .swiper-pagination .swiper-pagination-bullet {
  background: var(--white);
  opacity: 1;
  border-radius: 6px;
  width: 80px;
  height: 6px;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner {
  height: calc(100vh - var(--headerheight));
  overflow: hidden;
  position: relative;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 50%, rgba(102, 102, 102, 0) 80.85%);
  z-index: 0;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner .banner-wrapper {
  z-index: 1;
  width: 90%;
  position: absolute;
  bottom: 24%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner .banner-wrapper h3 {
  color: var(--white);
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 6px;
}
.home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner .banner-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper-group .swiper .swiper-wrapper .swiper-slide a .banner .banner-wrapper p {
    line-height: 1.5;
    font-size: 14px;
  }
}

.home-secC {
  padding: 50px 0;
}
.home-secC .heading {
  margin-bottom: 20px;
}
.home-secC .heading h2 {
  line-height: 1;
}
.home-secC .swiper-group .swiper .swiper-wrapper {
  padding: 10px 0;
}
.home-secC .bottom-btn {
  text-align: center;
  margin: 30px 0 0 0;
  height: -moz-fit-content;
  height: fit-content;
}
.home-secC .bottom-btn .view-all-btn {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--white);
  padding: 9px 19px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  margin: 20px auto 0;
}
.home-secC .bottom-btn .view-all-btn:hover {
  background: transparent;
  color: var(--secondary);
}

.home-secD {
  padding: 50px 0;
}
.home-secD .swiper {
  max-width: 96%;
}
.home-secD .heading {
  text-align: center;
  margin-bottom: 30px;
}
.home-secD .heading h2 {
  margin-bottom: 10px;
  line-height: 1;
}
.home-secD .heading p {
  max-width: 40%;
  margin: auto;
}
.home-secD ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.home-secD ul li {
  border-radius: 60px;
  padding: 12px 20px;
  transition: 0.5s ease;
  background: transparent;
  color: #4B5563;
  cursor: pointer;
}
.home-secD ul li.active {
  background: var(--secondary);
  color: var(--white);
}
.home-secD .swiper-group .swiper .swiper-wrapper .swiper-slide a {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  line-height: 0;
}

.home-secE {
  margin: 20px 0 50px 0;
  background: #F9F6F1;
  border-radius: 10px;
  padding: 30px 50px;
}
.home-secE .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.home-secE .flex-box figcaption {
  flex: 1;
}
.home-secE .flex-box figcaption h2 {
  font-size: 52px;
  line-height: 1;
  margin-bottom: 20px;
}
.home-secE .flex-box figcaption a {
  margin-top: 30px;
  display: inline-block;
}
.home-secE .flex-box figure {
  width: 663px;
  height: 390px;
  border-radius: 20px;
  overflow: hidden;
}
.home-secE .flex-box figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=home.css.map */