@import '../_var'

.hero-banner 
    @include media(540)
        height: 60vh
    .bg-background .container .bg-wrapper
        h1
            max-width: 672px
            font-size: 58px
            @include media(1024)
                font-size: 54px
            @include media(768)
                font-size: 48px
            @include media(540)
                font-size: 28px
                line-height: 1.3
                margin-bottom: 10px
            span
                font-family: 'Kaushan Script'
        p
            @include media(1024)
                margin: auto
                text-align: center
            @include media(540)
                font-size: 18px
                font-weight: normal
                padding: 0 20px

.home-secA
    padding: 50px 0
    overflow: hidden
    @include media(540)
        padding: 50px 0 0 0 
    h2
        text-align: center
        margin-bottom: 30px
        @include media(540)
            font-size: 28px
            line-height: 1.2
            margin-bottom: 20px
    .flex-box
        display: flex
        justify-content: center
        align-items: center
        gap: 60px
        @include media(768)
            flex-direction: column
        @include media(540)
            gap: 30px
        .col:first-child
            flex: 0 1 50%
            figcaption
                width: fit-content
                margin-left: auto
                @include media(768)
                    text-align: center
                p
                    font-size: 18px
                    max-width: 440px
                    margin-bottom: 30px
                    @include media(768)
                        margin-bottom: 10px
                    @include media(540)
                        font-weight: normal
                    span
                        color: $secondary
                .btn
                    @include media(768)
                        margin-top: 20px
                        display: inline-block
        .col:last-child
            flex: 0 1 50%
            figure
                width: 460px
                height: fit-content 
                line-height: 0
                @include media(540)
                    width: 100%
                img
                    height: 100%
                    width: 100%
                    object-fit: contain

.home-secB
    padding: 50px 0 0 0
    .heading
        text-align: center
        margin-bottom: 30px
        h2
            margin-bottom: 5px
        p
            @include media(768)
                margin: auto
                max-width: 440px
    .swiper-group
        .swiper
            .swiper-pagination
                bottom: 40px !important
                .swiper-pagination-bullet-active
                    background: #DF6951 !important
                .swiper-pagination-bullet
                    background: $white
                    opacity: 1
                    border-radius: 6px
                    width: 80px
                    height: 6px
            .swiper-wrapper
                .swiper-slide
                    position: relative
                    a
                        .banner
                            height: calc( 100vh - var(--headerheight) )
                            overflow: hidden
                            position: relative
                            @include media(1024)
                                height: calc(90vh - var(--headerheight))
                            @include media(768)
                                height: calc(70vh - var(--headerheight))
                            &::before
                                content: ""
                                position: absolute
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                background: linear-gradient(360deg, #0009 50%, #6660 80.85%)
                                z-index: 0
                            img
                                height: 100%
                                width: 100%
                                object-fit: cover
                            .banner-wrapper
                                z-index: 1
                                width: 90%
                                position: absolute
                                bottom: 24%
                                left: 50%
                                transform: translate(-50%)
                                text-align: center
                                h3
                                    color: $white
                                    font-weight: 500
                                    line-height: 1.3
                                    margin-bottom: 6px
                                p
                                    font-weight: 500
                                    font-size: 16px
                                    line-height: 1.4
                                    color: $white
                                    @include media(540)
                                        line-height: 1.5
                                        font-size: 14px

.home-secC
    padding: 50px 0
    @include media(540)
        padding: 50px 0 0 0
    .heading
        margin-bottom: 20px
        h2
            line-height: 1
            @include media(540)
                text-align: center
                font-size: 28px
    .swiper-group
        .swiper-nav
            width: fit-content
            @include media(768)
                top: -11%
        .swiper
            .swiper-wrapper
                padding: 10px 0 
    .bottom-btn
        text-align: center
        margin: 30px 0 0 0
        height: fit-content
        @include media(540)
            display: inline-block
            margin: 0
            width: 100%
            text-align: center
        .view-all-btn
            background: var(--secondary)
            border: 1px solid var(--secondary)
            color: var(--white)
            padding: 9px 19px
            font-size: 16px
            font-weight: 400
            border-radius: 8px
            margin: 20px auto 0 
            &:hover
                background: transparent
                color: var(--secondary)
                
.home-secD
    padding: 50px 0
    .swiper
        max-width: 96%
    .heading
        text-align: center
        margin-bottom: 30px
        @include media(768)
            margin-bottom: 50px
        @include media(540)
            margin-bottom: 30px
        h2
            margin-bottom: 10px
            line-height: 1
            @include media(768)
                max-width: 70%
                margin: 0 auto 20px
            @include media(540)
                max-width: 90%
        p
            max-width: 40%
            margin: auto
            @include media(768)
                max-width: 60%
            @include media(540)
                max-width: 80%
    ul
        display: flex
        justify-content: center
        gap: 20px
        align-items: center
        margin-bottom: 30px
        @include media(768)
            justify-content: start
            overflow: auto
        li
            border-radius: 60px
            padding: 12px 20px
            transition: 0.5s ease
            background: transparent
            color: #4B5563
            cursor: pointer
            @include media(768)
                white-space: nowrap
            &.active
                background: $secondary
                color: $white
    .swiper-group
        .swiper
            .swiper-wrapper
                .swiper-slide
                    a
                        border-radius: 10px
                        overflow: hidden
                        display: inline-block
                        line-height: 0

.home-secE
    margin: 20px 0 50px 0
    background: #F9F6F1
    border-radius: 10px
    padding: 30px 40px
    overflow: hidden
    .flex-box
        display: flex
        justify-content: space-between
        align-items: center
        gap: 50px
        @include media(1024)
            flex-direction: column
            gap: 30px
        figcaption
            flex: 1
            @include media(1024)
                text-align: center
            h2
                font-size: 48px
                line-height: 1
                margin-bottom: 20px
                @include media(1024)
                    margin-bottom: 10px
                @include media(768)
                    font-size: 36px
                    margin: 0 auto 10px

            a
                margin-top: 30px
                display: inline-block
                @include media(1024)
                    margin-top: 20px
        figure
            width: 663px
            height: 390px
            border-radius: 20px
            overflow: hidden
            img
                height: 100%
                width: 100%
                object-fit: cover

.home-secE-2
    padding: 10px 0 50px 0 
    .heading
        text-align: center
        margin-bottom: 40px
    .grid-box
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 20px
        @include media(1024)
            grid-template-columns: repeat(2, 1fr)
        @include media(540)
            grid-template-columns: repeat(1, 1fr)
        .col
            height: 300px
            border-radius: 10px
            overflow: hidden
            line-height: 0
            box-shadow: 0px 4.6px 27.62px 0px #BDBDBD3B
            position: relative
            &::before
                content: ""
                position: absolute
                inset:  1 1 1 1
                width: 100%
                height: 100%
                background: linear-gradient(#0000 10%, #000000bf 100%)
                z-index: 1
            figure
                position: relative
                height: 100%
                width: 100%
                line-height: 0
                &:hover
                    @include shine
                    img
                        scale: 1.2
                img
                    height: 100%
                    width: 100%
                    object-fit: cover
                    transition: 0.5s ease
                figcaption
                    position: absolute
                    bottom: 0
                    left: 0
                    padding: 20px 
                    z-index: 1 
                    h4
                        color: $white
                        line-height: 1.1
                        margin-bottom: 20px
                    .bottom-flex
                        display: flex
                        justify-content: space-between
                        align-items: center
                        gap: 40px
                        @include media(768)
                            gap: 20px
                        p
                            color: $white
                        button
                            border: 1px solid $white
                            color: $white
                            background: #00000080
                            padding: 8px 20px
                            border-radius: 25px

.home-secF
    margin: 20px 0 50px 0
    background: #F9F6F1
    border-radius: 10px
    padding: 30px 40px
    @include media(540)
        overflow: hidden
        padding: 30px 10px
    .flex-box
        display: flex
        justify-content: space-between
        align-items: center
        @include media(1024)
            flex-direction: column
            gap: 40px
        figcaption
            h2
                font-size: 48px
                line-height: 1.1
                margin-bottom: 20px
                @include media(1024)
                    margin-bottom: 10px
                @include media(768)
                    font-size: 36px
                    text-align: center
            p
                @include media(1024)
                    text-align: center
            a
                margin-top: 30px
                display: inline-block
        .grid-box
            display: grid
            grid-template-columns: repeat(3,1fr)
            gap: 10px
            @include media(768)
                grid-template-columns: repeat(2,1fr)
            @include media(540)
                grid-template-columns: repeat(1,1fr)
            .grid-box-item
                background: $white
                width: 100% 
                border-radius: 20px
                padding: 20px
                border-bottom: 1px solid $secondary
                border-right: 1px solid $secondary
                figure
                    width: 50px
                    height: 50px
                    background: $secondary
                    border-radius: 50%
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-bottom: 30px
                h4
                    font-weight: 500
                    font-size: 18px
                    margin-bottom: 6px
                p
                    color: #6E7074
                    line-height: 1.2

.home-secG
    padding: 30px 0 50px 0
    .heading
        text-align: left
        margin-bottom: 40px
        @include media(1024)
            text-align: center
        h2
            margin-bottom: 5px
    .flex-box
        display: flex
        gap: 40px
        justify-content: space-between
        @include media(768)
            justify-content: center
        figure
            width: 480px
            height: 532px
            border-radius: 20px
            line-height: 0
            overflow: hidden
            @include media(1024)
                position: sticky
                top: calc( var(--headerheight) + 20px  )
            @include media(768)
                display: none
            img
                height: 100%
                width: 100%
                object-fit: cover
        .grid-box
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 30px 40px
            @include media(768)
                gap: 30px 80px
            @include media(540)
                gap: 20px 10px
            .col
                display: flex
                gap: 20px
                height: fit-content
                figure
                    width: 28px
                    height: 28px
                    border-radius: 0
                    display: block !important
                    img
                        height: 100%
                        width: 100%
                        object-fit: contain 
                figcaption
                    height: fit-content
                    h5
                        font-weight: 400
                        font-size: 16px
                        color: black
                        margin-bottom: 5px
                    p
                        color: #797979
                        line-height: 1.2
                        font-size: 14px
                        font-weight: 500
                    
.home-secH
    padding: 50px 0 100px 0 
    .flex-box
        display: flex
        justify-content: center
        @include media(1024)
            justify-content: space-between
        @include media(768)
            flex-direction: column
        .col
            flex: 0 1 50%
        .col:first-child
            h2
                font-size: 48px
                line-height: 1.1
                margin-bottom: 20px
                @include media(1024)
                    font-size: 36px
                @include media(768)
                    text-align: center
                    max-width: 80%
                    margin: 0 auto 10px
            p
                color: #797979
                max-width: 440px
                margin-bottom: 40px
                @include media(768)
                    margin: 0 auto 20px
                    text-align: center
            .form
                @include media(768)
                    text-align: center
                input
                    border: 1px solid #6f6f6f
                    border-radius: 10px
                    width: 400px
                    padding: 12px 15px
                    font-size: 16px
                    display: block
                    outline: none
                    @include media(768)
                        margin: auto
                    @include media(540)
                        width: 100%
                    
                button
                    margin-top: 30px

        .col:last-child
            flex: 0 1 40%
            figure
                width: 440px
                height: fit-content
                border-radius: 20px
                position: relative
                line-height: 0
                margin-left: auto
                @include media(768)
                    margin: auto
                @include media(540)
                    width: 100% 
                img
                    height: 100%
                    width: 100%
                    object-fit: cover
                figcaption
                    width: 330px
                    // height: 250px
                    border: 2px solid $secondary
                    position: absolute
                    border-radius: 15px
                    bottom: -60px
                    left: -140px
                    background: $white
                    padding: 20px
                    @include media(768)
                        transform: translateX(60%)
                    @include media(540)
                        width: 276px
                    .col
                        display: flex
                        gap: 20px
                        margin-bottom: 20px
                        &:nth-child(2)
                            .figure
                                background: #009E9D
                        &:nth-child(3)
                            margin: 0
                            .figure
                                background: #0091D0
                        .figure
                            background: #FFAA00
                            width: 50px
                            height: 50px
                            border-radius: 50%
                            line-height: 0
                            padding: 15px
                            img
                                height: 100%
                                width:  100%
                                object-fit: contain
                        .figcontent
                            flex: 1
                            h4
                                font-weight: 800
                                font-size: 16px
                                margin-bottom: 5px
                            p
                                font-size: 12px
                                color: #6C6C6C
                                line-height: 1.2
                                margin: 0
                                @include media(540)
                                    text-align: left

                        
