@import '../_var'

.about-secA
    padding: 50px 0
    .heading
        text-align: center
        h2
            margin-bottom: 40px
    .flex-box
        display: flex
        justify-content: center
        align-items: center
        gap: 50px
        margin-bottom: 60px
        &:last-child
            margin: 0
        &:nth-child(odd)
            flex-direction: row-reverse
        figure
            width: 570px
            height: 248px
            border-radius: 10px
            overflow: hidden
            img
                height: 100%
                width: 100%
                object-fit: cover
        figcaption
            width: fit-content
            p
                color: #626060
                font-weight: 400
                font-size: 16px
                max-width: 470px

.about-secB
    padding: 50px 0 
    figure
        line-height: 0
        height: 430px
        width: 100%
        border-radius: 15px
        overflow: hidden
        position: relative
        &:not(:last-child)
            margin-bottom: 50px
        &:last-child
            figcaption
                top: initial
                left: initial
                right: 0
                bottom: 0
                border-radius: 0
                border-top-left-radius: 40px
                padding: 20px 20px 70px 60px
        img
            height: 100%
            width: 100%
            object-fit: cover
        figcaption
            background: var(--white)
            z-index: 1
            width: 570px
            height: 240px
            position: absolute
            top: 0
            left: 0
            border-bottom-right-radius: 40px
            padding: 20px
            padding: 20px 20px 20px 40px
            h2
                font-size: 48px
                span
                    color: $secondary
            p
                color: #626060
                width: 80%

.about-secC
    padding: 50px 0 
    .heading
        text-align: center
        max-width: 60%
        margin: 0 auto 40px
        h2
            margin-bottom: 10px
    .flex-box
        display: flex
        justify-content: center
        gap: 100px
        .col
            figure
                width: 383px
                height: 510px
                border-top-left-radius: 600px
                border-top-right-radius: 600px
                overflow: hidden
                img
                    height: 100%
                    width: 100%
                    object-fit: cover
            figcaption
                margin-top: 20px
                h5
                    font-weight: 700
                    font-size: 24px
                
.about-secD
    padding: 50px 0 
    .flex-box
        display: flex
        justify-content: center
        gap: 100px
        .col:first-child
            width: auto
            h2
                aap ki nazron ne samjha
            p
                max-width: 300px
        .col:last-child
            flex: 0 1 50%
            .grid-box
                display: grid
                grid-template-columns: repeat(2, 1fr)
                gap: 20px
                .grid-box-item
                    border: 1px solid #cccccc
                    border-radius: 10px
                    padding: 30px
                    text-align: center
                    figure
                        width: 180px
                        height: 95px
                        margin: 0 auto 20px
                        line-height: 0
                        img
                            height: 100%
                            width: 100%
                            object-fit: contain
                    h5
                        font-weight: 700
                        font-size: 29px

.about-secE
    padding: 50px 0 
    h2
        text-align: center  
        font-weight: 700
        margin-bottom: 40px
    .accordian-wrapper
        background: #FFFBF6
        margin-bottom: 20px
        border-radius: 20px
        cursor: pointer
        &.open
            .title
                padding: 40px 20px 0px 20px
                .ico
                    scale: 0
        .title
            padding: 30px 20px
            position: relative
            h4
                font-size: 24px
            .ico
                width: 33px
                height: 33px
                line-height: 0
                position: absolute
                top: 29px
                right: 30px
                transition: 0.5s ease
                img
                    height: 100%
                    width: 100%
                    object-fit: contain
        p
            color: #626060
            padding: 10px 20px 40px 20px