@import '../_var'

.about-secA
    padding: 50px 0
    .heading
        text-align: center
        h2
            margin-bottom: 40px
    .flex-box
        display: flex
        justify-content: center
        align-items: center
        gap: 50px
        margin-bottom: 60px
        &:last-child
            margin: 0
        &:nth-child(odd)
            flex-direction: row-reverse
        figure
            width: 570px
            height: 248px
            border-radius: 10px
            overflow: hidden
            img
                height: 100%
                width: 100%
                object-fit: cover
        figcaption
            width: fit-content
            p
                color: #626060
                font-weight: 400
                font-size: 16px
                max-width: 470px

.about-secB
    padding: 50px 0 
    figure
        line-height: 0
        height: 430px
        width: 100%
        border-radius: 15px
        overflow: hidden
        position: relative
        &:not(:last-child)
            margin-bottom: 50px
        &:last-child
            figcaption
                top: initial
                left: initial
                right: 0
                bottom: 0
                border-radius: 0
                border-top-left-radius: 40px
                padding: 20px 20px 70px 60px
        img
            height: 100%
            width: 100%
            object-fit: cover
        figcaption
            background: var(--white)
            z-index: 1
            width: 570px
            height: 240px
            position: absolute
            top: 0
            left: 0
            border-bottom-right-radius: 40px
            padding: 20px
            padding: 20px 20px 20px 40px
            h2
                font-size: 48px
                span
                    color: $secondary
            p
                color: #626060
                width: 80%

