@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.about-secA {
  padding: 50px 0;
}
.about-secA .heading {
  text-align: center;
}
.about-secA .heading h2 {
  margin-bottom: 40px;
}
.about-secA .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 60px;
}
.about-secA .flex-box:last-child {
  margin: 0;
}
.about-secA .flex-box:nth-child(odd) {
  flex-direction: row-reverse;
}
.about-secA .flex-box figure {
  width: 570px;
  height: 248px;
  border-radius: 10px;
  overflow: hidden;
}
.about-secA .flex-box figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-secA .flex-box figcaption {
  width: -moz-fit-content;
  width: fit-content;
}
.about-secA .flex-box figcaption p {
  color: #626060;
  font-weight: 400;
  font-size: 16px;
  max-width: 470px;
}

.about-secB {
  padding: 50px 0;
}
.about-secB figure {
  line-height: 0;
  height: 430px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.about-secB figure:not(:last-child) {
  margin-bottom: 50px;
}
.about-secB figure:last-child figcaption {
  top: initial;
  left: initial;
  right: 0;
  bottom: 0;
  border-radius: 0;
  border-top-left-radius: 40px;
  padding: 20px 20px 70px 60px;
}
.about-secB figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-secB figure figcaption {
  background: var(--white);
  z-index: 1;
  width: 570px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 40px;
  padding: 20px;
  padding: 20px 20px 20px 40px;
}
.about-secB figure figcaption h2 {
  font-size: 48px;
}
.about-secB figure figcaption h2 span {
  color: var(--secondary);
}
.about-secB figure figcaption p {
  color: #626060;
  width: 80%;
}

.about-secC {
  padding: 50px 0;
}
.about-secC .heading {
  text-align: center;
  max-width: 60%;
  margin: 0 auto 40px;
}
.about-secC .heading h2 {
  margin-bottom: 10px;
}
.about-secC .flex-box {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.about-secC .flex-box .col:hover .user-info {
  transform: translateY(0%);
  opacity: 1;
}
.about-secC .flex-box .col figure {
  width: 383px;
  height: 510px;
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;
  overflow: hidden;
  position: relative;
}
.about-secC .flex-box .col figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.about-secC .flex-box .col figure .user-info {
  background: linear-gradient(#eaeaea 0%, #afafaf 100%);
  width: 100%;
  height: 100%;
  padding: 120px 40px 20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: 0.6s ease;
  opacity: 0;
}
.about-secC .flex-box .col figcaption {
  margin-top: 20px;
}
.about-secC .flex-box .col figcaption h5 {
  font-weight: 700;
  font-size: 24px;
}

.about-secD {
  padding: 50px 0;
}
.about-secD .flex-box {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.about-secD .flex-box .col:first-child {
  width: auto;
}
.about-secD .flex-box .col:first-child p {
  max-width: 300px;
}
.about-secD .flex-box .col:last-child {
  flex: 0 1 50%;
}
.about-secD .flex-box .col:last-child .grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.about-secD .flex-box .col:last-child .grid-box .grid-box-item {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
.about-secD .flex-box .col:last-child .grid-box .grid-box-item figure {
  width: 180px;
  height: 95px;
  margin: 0 auto 20px;
  line-height: 0;
}
.about-secD .flex-box .col:last-child .grid-box .grid-box-item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-secD .flex-box .col:last-child .grid-box .grid-box-item h5 {
  font-weight: 700;
  font-size: 29px;
}

.about-secE {
  padding: 50px 0;
}
.about-secE h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
.about-secE .accordian-wrapper {
  background: #FFFBF6;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.about-secE .accordian-wrapper.open .title {
  padding: 40px 20px 0px 20px;
}
.about-secE .accordian-wrapper.open .title .ico {
  scale: 0;
}
.about-secE .accordian-wrapper .title {
  padding: 30px 20px;
  position: relative;
}
.about-secE .accordian-wrapper .title h4 {
  font-size: 24px;
}
.about-secE .accordian-wrapper .title .ico {
  width: 33px;
  height: 33px;
  line-height: 0;
  position: absolute;
  top: 29px;
  right: 30px;
  transition: 0.5s ease;
}
.about-secE .accordian-wrapper .title .ico img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-secE .accordian-wrapper p {
  color: #626060;
  padding: 10px 20px 40px 20px;
}/*# sourceMappingURL=about-us.css.map */