@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.about-banner {
  margin-top: var(--headerheight);
  background: #F8ECE6;
  padding: 60px 0;
  text-align: center;
}
.about-banner .flex-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.about-banner .flex-box .col:first-child {
  text-align: left;
}
.about-banner .flex-box .col:first-child h2 {
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-banner .flex-box .col:first-child h1 {
  font-weight: 700;
  color: var(--secondary);
  font-size: 36px;
  width: 510px;
}
.about-banner .flex-box .col:first-child h1 span {
  color: var(--primary);
}
.about-banner .flex-box .col:first-child a {
  margin-top: 60px;
}
.about-banner .flex-box .col:last-child figure {
  width: 546px;
  height: 362px;
  border-radius: 10px;
}
.about-banner .flex-box .col:last-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-secA {
  padding: 50px 0;
}
.about-secA .flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.about-secA .flex-box .col:first-child figure {
  width: 362px;
  height: 360px;
}
.about-secA .flex-box .col:first-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-secA .flex-box .col:last-child {
  max-width: 473px;
}
.about-secA .flex-box .col:last-child h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--black);
}
.about-secA .flex-box .col:last-child p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #666666;
}

.about-secB .banner {
  position: relative;
  height: calc(100vh - 96px);
  overflow: hidden;
}
.about-secB .banner::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 27.23%, rgba(0, 0, 0, 0.7) 67.07%);
}
.about-secB .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-secB .banner .banner-wrapper {
  bottom: 25%;
}
.about-secB .banner .banner-wrapper .tab-nav {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 70px;
}
.about-secB .banner .banner-wrapper .tab-nav li {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}
.about-secB .banner .banner-wrapper .tab-nav li.active {
  color: var(--white);
}
.about-secB .banner .banner-wrapper .tab-nav li.active::before {
  width: 100%;
}
.about-secB .banner .banner-wrapper .tab-nav li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--white);
  transition: 0.5s ease;
}
.about-secB .banner .banner-wrapper .tab-nav-content .tabs {
  max-width: 425px;
}
.about-secB .banner .banner-wrapper .tab-nav-content .tabs p {
  color: rgba(255, 255, 255, 0.6980392157);
}

.about-secC {
  padding: 50px 0;
}
.about-secC h2 {
  text-align: center;
  margin-bottom: 30px;
}

.our-values-card {
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  height: 332px;
  padding: 30px;
  background: var(--white);
  transition: 0.4s ease;
}
.our-values-card:hover {
  background: linear-gradient(180deg, #FFFFFF 0%, #F8ECE6 100%);
}
.our-values-card figure {
  height: 70px;
  width: 70px;
  margin: 20px auto 30px;
}
.our-values-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.our-values-card figcaption h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  text-align: center;
  margin-bottom: 7px;
}
.our-values-card figcaption p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--text);
}

.about-secD {
  padding: 50px 0;
  background: #F1F1F1;
  position: relative;
  overflow: hidden;
}
.about-secD .vector-img {
  z-index: 0;
  width: 486px;
  height: 414px;
  position: absolute;
  bottom: -22%;
  right: -12%;
  scale: -0.7;
}
.about-secD .vector-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-secD .flex-box {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.about-secD .flex-box .col:last-child {
  flex: 0 1 50%;
}
.about-secD .flex-box .col:last-child h2 {
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
  margin-bottom: 30px;
  text-transform: uppercase;
}
.about-secD .flex-box .col:last-child h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--secondary);
  max-width: 493px;
  margin-bottom: 70px;
}
.about-secD .flex-box .col:last-child figure {
  width: 155px;
  height: 36px;
  margin-bottom: 20px;
}
.about-secD .flex-box .col:last-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-secD .flex-box .col:last-child .bottom h4 {
  font-weight: 600;
  color: var(--black);
  font-size: 20px;
  line-height: 26px;
}
.about-secD .flex-box .col:last-child .bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6980392157);
}/*# sourceMappingURL=about-us.css.map */